<form
 id="add_user_form"
 action="#"
 method="post"
>

	<div class="input-group input-group-static mb-2">
		<label for="edit_user_name">{lang_user_name}</label>
		<input
		 type="text"
		 name="edit_user_name"
		 id="edit_user_name"
		 value=""
		 class="form-control"
		 required
		/>
	</div>

	<div class="input-group input-group-static mb-2">
		<label for="user_first_name">{lang_user_manager_first_name}</label>
		<input
		 type="text"
		 name="user_first_name"
		 id="user_first_name"
		 value=""
		 class="form-control"
		 required
		/>
	</div>

	<div class="input-group input-group-static mb-2">
		<label for="user_last_name">{lang_user_manager_last_name}</label>
		<input
		 type="text"
		 name="user_last_name"
		 id="user_last_name"
		 value=""
		 class="form-control"
		 required
		/>
	</div>

	<div class="input-group input-group-static mb-2">
		<label for="user_email">{lang_user_email}</label>
		<input
		 type="email"
		 name="user_email"
		 id="user_email"
		 value=""
		 class="form-control"
		 required
		/>
	</div>

	<div class="input-group input-group-static mb-2">
		<label for="edit_user_pass">{lang_user_password}</label>
		<input
		 type="text"
		 name="edit_user_pass"
		 id="edit_user_pass"
		 value=""
		 class="form-control"
		 required
		/>
	</div>

	<div class="input-group input-group-static mb-2">
		<label for="edit_user_pass2">{lang_user_password} ({lang_again})</label>
		<input
		 type="text"
		 name="edit_user_pass2"
		 id="edit_user_pass2"
		 value=""
		 class="form-control"
		 required
		/>
	</div>

	<div class="input-group input-group-static mb-2">
		<label
		 for="edit_active"
		 class="ms-0"
		>{lang_user_manager_is_user_active}</label>
		<select
		 required
		 name="edit_active"
		 class="form-control"
		 id="edit_active"
		>
			{user_status_option_block}
			<option
			 value="{value}"
			 {selected}
			>{text}</option>
			{/user_status_option_block}
		</select>
	</div>
	{check_admin}
	<div class="input-group input-group-static mb-2">
		<label
		 for="edit_isAdmin"
		 class="ms-0"
		>{lang_user_editor_isAdmin}</label>
		<select
		 required
		 name="edit_isAdmin"
		 class="form-control"
		 id="edit_isAdmin"
		>
			{user_isAdmin_option_block}
			<option
			 value="{value}"
			 {selected}
			>{text}</option>
			{/user_isAdmin_option_block}
		</select>
	</div>
	{/check_admin}

	<div class="input-group input-group-static mb-2">
		<label
		 for="edit_isAgent"
		 class="ms-0"
		>{lang_user_editor_isAgent}</label>
		<select
		 required
		 name="edit_isAgent"
		 class="form-control"
		 id="edit_isAgent"
		>
			{user_isAgent_option_block}
			<option
			 value="{value}"
			 {selected}
			>{text}</option>
			{/user_isAgent_option_block}
		</select>
	</div>


	<input
	 type="submit"
	 class="btn btn-primary float-end value="
	 {lang_submit}"
	/>



</form>



<script type="text/javascript">
	$(document).ready(function () {

		$("#add_user_form").submit(function (e) {
			e.preventDefault();
			$.post("ajax.php?action=ajax_add_user", $("#add_user_form").serialize(),
				function (data) {
					if (data.error == "1") {
						alert(data.error_msg);
					}
					else {
						var user_id = data.user_id;
						closeModal();
						window.location = "index.php?action=edit_user&user_id=" + user_id;
					}
				}
				, "json");
		});
	});

</script>