<div class="card card-frame mb-4">
  <div class="card-body py-2">
    <div class="nav-wrapper position-relative end-0">
      <ul class="nav nav-pills nav-fill d-md-none mb-4" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link mb-0 px-0 py-1 active"
            data-bs-toggle="tab"
            role="tab"
            data-bs-target="#user_details_pane"
            aria-selected="true"
            href="#"
            >User Details</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mb-0 px-0 py-1"
            data-bs-toggle="tab"
            role="tab"
            data-bs-target="#media_widget_pane"
            aria-selected="false"
            href="#"
            >Media</a
          >
        </li>
      </ul>
    </div>

    <div class="tab-content edit_user_tab_content row">
      <div
        role="tabpanel"
        id="user_details_pane"
        class="tab-pane active col-12 col-md"
      >
        <form id="user_data" action="#" method="post">
          <input type="hidden" name="token" value="{csrf_token}" />
          <input type="hidden" name="user_id" value="{user_id}" />
          <div class="row justify-content-between">
            <div class="col-auto">
              <div class="text-sm">
                {lang_last_modified}: <strong>{last_modified}</strong>
              </div>
            </div>
            <div class="col-auto">
              <div class="text-sm">
                {lang_user_name}: <strong>{user_name}</strong>
              </div>
            </div>
            <div class="col-auto">
              <button
                type="submit"
                id="update_userdata"
                class="btn btn-link text-dark px-3 mb-0"
              >
                <i class="fa-solid fa-save"></i>
                <span class="d-none d-md-inline">{lang_update}</span>
              </button>
              <a
                id="delete_user"
                class="btn btn-link text-danger px-3 mb-0"
                href="javascript:;"
                ><i class="fa-solid fa-trash"></i>
                <span class="d-none d-md-inline">{lang_delete}</span></a
              >
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-auto">
              <div class="text-sm">
                {lang_user_manager_is_an_admin}:
                <strong>{user_isAdmin}</strong> |
                {lang_user_manager_is_an_agent}: <strong>{user_isAgent}</strong>
              </div>
            </div>
            <div class="col-auto">
              {check_edit_all_users}
              <div class="input-group input-group-static">
                <label for="edit_active" class="ms-0"
                  >{lang_user_manager_is_user_active}</label
                >
                <select
                  name="edit_active"
                  class="form-control"
                  id="user_active"
                >
                  {user_status_option_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/user_status_option_block}
                </select>
              </div>
              {/check_edit_all_users}
            </div>
            <div class="col-auto">
              {agentadmin_block}
              <div class="input-group input-group-static">
                <label class="ms-0">{lang_user_manager_displayorder}</label>
                <input
                  value="{user_userRank}"
                  id="edit_userRank"
                  name="edit_userRank"
                  class="form-control"
                  type="number"
                  required
                />
              </div>

              {/agentadmin_block}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {check_edit_all_users}
              <div
                id="alert_user_inactive"
                class="alert alert-warning collapse"
                role="alert"
              >
                {lang_alert_user_inactive}
              </div>
              {/check_edit_all_users}

              <div class="input-group input-group-static mb-2">
                <label class="ms-0" for="user_first_name"
                  >{lang_user_manager_first_name}</label
                >
                <input
                  type="text"
                  value="{user_first_name}"
                  name="user_first_name"
                  id="user_first_name"
                  class="form-control"
                  required
                />
              </div>

              <div class="input-group input-group-static mb-2">
                <label class="ms-0" for="user_last_name"
                  >{lang_user_manager_last_name}</label
                >
                <input
                  type="text"
                  value="{user_last_name}"
                  name="user_last_name"
                  id="user_last_name"
                  class="form-control"
                  required
                />
              </div>

              <div class="input-group input-group-static mb-2">
                <label class="ms-0" for="user_email">{lang_user_email}</label>
                <input
                  type="email"
                  value="{user_email}"
                  name="user_email"
                  id="user_email"
                  class="form-control"
                  required
                />
              </div>
              {user_password_block}
              <div class="input-group input-group-static mb-2">
                <label class="ms-0" for="edit_user_pass"
                  >{lang_user_password}</label
                >
                <input
                  type="password"
                  value=""
                  name="edit_user_pass"
                  id="edit_user_pass"
                  class="form-control"
                />
              </div>

              <div class="input-group input-group-static mb-2">
                <label class="ms-0" for="edit_user_pass2"
                  >{lang_user_password} ({lang_again})</label
                >
                <input
                  type="password"
                  value=""
                  name="edit_user_pass2"
                  id="edit_user_pass2"
                  class="form-control"
                />
              </div>
              {/user_password_block} {check_admin} {agentadmin_block}
              <div class="input-group input-group-static mb-2">
                <label for="edit_userFloorNotify" class="ms-0"
                  >{lang_user_manager_send_notifications_to_floor_agent}</label
                >
                <select
                  name="edit_userFloorNotify"
                  class="form-control"
                  id="edit_userFloorNotify"
                >
                  {userFloorNotify_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/userFloorNotify_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label class="ms-0" for="edit_limitListings"
                  >{lang_user_manager_limitListings} ({lang_again})</label
                >
                <input
                  type="number"
                  name="edit_limitListings"
                  id="edit_limitListings"
                  value="{user_limitListings}"
                  class="form-control"
                  min="-1"
                  required
                />
              </div>

              <div class="input-group input-group-static mb-2">
                <label class="ms-0" for="edit_limitFeaturedListings"
                  >{lang_user_manager_limitFeaturedListings}</label
                >
                <input
                  type="number"
                  value="{user_limitFeaturedListings}"
                  min="-1"
                  name="edit_limitFeaturedListings"
                  id="edit_limitFeaturedListings"
                  class="form-control"
                  required
                />
              </div>
              {/agentadmin_block} {agent_block}
              <div class="input-group input-group-static mb-2">
                <label for="edit_canEditAllListings" class="ms-0"
                  >{lang_user_editor_can_edit_all_listings}</label
                >
                <select
                  name="edit_canEditAllListings"
                  class="form-control"
                  id="edit_canEditAllListings"
                >
                  {canEditAllListings_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canEditAllListings_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canEditAllUsers" class="ms-0"
                  >{lang_user_editor_can_edit_all_users}</label
                >
                <select
                  name="edit_canEditAllUsers"
                  class="form-control"
                  id="edit_canEditAllUsers"
                >
                  {canEditAllUsers_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canEditAllUsers_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canEditSiteConfig" class="ms-0"
                  >{lang_user_editor_can_edit_site_config}</label
                >
                <select
                  name="edit_canEditSiteConfig"
                  class="form-control"
                  id="edit_canEditSiteConfig"
                >
                  {canEditSiteConfig_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canEditSiteConfig_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canEditMemberTemplate" class="ms-0"
                  >{lang_user_editor_can_edit_member_template}</label
                >
                <select
                  name="edit_canEditMemberTemplate"
                  class="form-control"
                  id="edit_canEditMemberTemplate"
                >
                  {canEditMemberTemplate_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canEditMemberTemplate_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canEditAgentTemplate" class="ms-0"
                  >{lang_user_editor_can_edit_agent_template}</label
                >
                <select
                  name="edit_canEditAgentTemplate"
                  class="form-control"
                  id="edit_canEditAgentTemplate"
                >
                  {canEditAgentTemplate_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canEditAgentTemplate_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canEditListingTemplate" class="ms-0"
                  >{lang_user_editor_can_edit_listing_template}</label
                >
                <select
                  name="edit_canEditListingTemplate"
                  class="form-control"
                  id="edit_canEditListingTemplate"
                >
                  {canEditListingTemplate_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canEditListingTemplate_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canEditPropertyClasses" class="ms-0"
                  >{lang_user_editor_can_edit_property_classes}</label
                >
                <select
                  name="edit_canEditPropertyClasses"
                  class="form-control"
                  id="edit_canEditPropertyClasses"
                >
                  {canEditPropertyClasses_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canEditPropertyClasses_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canViewLogs" class="ms-0"
                  >{lang_user_manager_can_view_logs}</label
                >
                <select
                  name="edit_canViewLogs"
                  class="form-control"
                  id="edit_canViewLogs"
                >
                  {canViewLogs_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canViewLogs_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canModerate" class="ms-0"
                  >{lang_user_manager_is_a_moderator}</label
                >
                <select
                  name="edit_canModerate"
                  class="form-control"
                  id="edit_canModerate"
                >
                  {canModerate_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canModerate_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canFeatureListings" class="ms-0"
                  >{lang_user_manager_feature_listings}</label
                >
                <select
                  name="edit_canFeatureListings"
                  class="form-control"
                  id="edit_canFeatureListings"
                >
                  {canFeatureListings_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canFeatureListings_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canPages" class="ms-0"
                  >{lang_user_manager_can_edit_pages}</label
                >
                <select
                  name="edit_canPages"
                  class="form-control"
                  id="edit_canPages"
                >
                  {canPages_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canPages_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canVtour" class="ms-0"
                  >{lang_user_manager_can_have_vtours}</label
                >
                <select
                  name="edit_canVtour"
                  class="form-control"
                  id="edit_canVtour"
                >
                  {canVtour_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canVtour_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canFiles" class="ms-0"
                  >{lang_user_manager_can_have_files}</label
                >
                <select
                  name="edit_canFiles"
                  class="form-control"
                  id="edit_canFiles"
                >
                  {canFiles_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canFiles_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canFiles" class="ms-0"
                  >{lang_user_manager_can_have_user_files}</label
                >
                <select
                  name="edit_canFiles"
                  class="form-control"
                  id="edit_canFiles"
                >
                  {canUserFiles_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canUserFiles_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canEditListingExpiration" class="ms-0"
                  >{lang_user_editor_can_edit_listing_expiration}</label
                >
                <select
                  name="edit_canEditListingExpiration"
                  class="form-control"
                  id="edit_canEditListingExpiration"
                >
                  {canEditListingExpiration_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canEditListingExpiration_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_BlogPrivileges" class="ms-0"
                  >{lang_user_editor_blog_privileges}</label
                >
                <select
                  name="edit_BlogPrivileges"
                  class="form-control"
                  id="edit_BlogPrivileges"
                >
                  {BlogPrivileges_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/BlogPrivileges_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canManageAddons" class="ms-0"
                  >{lang_user_editor_can_manage_addons}</label
                >
                <select
                  name="edit_canManageAddons"
                  class="form-control"
                  id="edit_canManageAddons"
                >
                  {canManageAddons_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canManageAddons_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_canExportListings" class="ms-0"
                  >{lang_user_editor_can_export_listings}</label
                >
                <select
                  name="edit_canExportListings"
                  class="form-control"
                  id="edit_canExportListings"
                >
                  {canExportListings_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/canExportListings_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_can_edit_all_leads" class="ms-0"
                  >{lang_user_editor_can_edit_all_leads}</label
                >
                <select
                  name="edit_can_edit_all_leads"
                  class="form-control"
                  id="edit_can_edit_all_leads"
                >
                  {can_edit_all_leads_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/can_edit_all_leads_block}
                </select>
              </div>

              <div class="input-group input-group-static mb-2">
                <label for="edit_can_edit_lead_template" class="ms-0"
                  >{lang_user_editor_can_edit_lead_template}</label
                >
                <select
                  name="edit_can_edit_lead_template"
                  class="form-control"
                  id="edit_can_edit_lead_template"
                >
                  {can_edit_lead_template_block}
                  <option value="{value}" {selected}>{text}</option>
                  {/can_edit_lead_template_block}
                </select>
              </div>
              {/agent_block} {/check_admin}

              <nav class="navbar navbar-light bg-light my-4">
                <div class="container-fluid">
                  <span class="navbar-brand mb-0 h1">{lang_user_fields}</span>
                </div>
              </nav>

              {misc_hold}
            </div>
          </div>
        </form>
      </div>

      <div
        id="media_widget_pane"
        role="tabpanel"
        class="tab-pane col-12 col-md-auto media-pane-holder justify-content-center"
      >
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="btn btn-primary w-100 mb-0 collapsed"
                id="user_file_tab"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#user_file_pane"
                aria-expanded="true"
                aria-controls="user_file_pane"
              >
                {lang_files}
              </button>
            </h2>
            <div
              id="user_file_pane"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body"></div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="btn btn-primary w-100 mb-0"
                type="button"
                id="user_image_tab"
                data-bs-toggle="collapse"
                data-bs-target="#user_image_pane"
                aria-expanded="false"
                aria-controls="user_image_pane"
              >
                {lang_images}
              </button>
            </h2>
            <div
              id="user_image_pane"
              class="accordion-collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  image/file Container -->

<div
  class="modal fade"
  id="edit_user_image_modal"
  tabindex="-1"
  aria-labelledby="customizeModal"
  aria-hidden="true"
>
  <form id="edit_media_form" action="#" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title" id="edit_listing_image_modal_title">
            {lang_edit_media}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" id="edit_listing_image_modal_body">
          <input type="hidden" name="media_id" id="media_id_holder" />
          <input
            type="hidden"
            id="media_token"
            name="token"
            value="{csrf_token}"
          />

          <input type="hidden" name="media_type" id="media_type_holder" />

          <img
            id="edit_media_full_tag"
            class="img-fluid"
            src="{baseurl}/images/nophotobig.gif"
            border="0"
            alt=""
          />

          <div class="text-sm my-2" id="edit_media_file_name"></div>

          <div class="row mb-2">
            <div class="col-12">
              <div class="input-group input-group-static my-2">
                <label for="edit_media_caption">{lang_upload_caption}</label>
                <input
                  type="text"
                  name="caption"
                  id="edit_media_caption"
                  value=""
                  class="form-control"
                />
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <div class="input-group input-group-static mb-2">
                <label for="edit_media_description"
                  >{lang_upload_description}</label
                >
                <textarea
                  class="form-control"
                  id="edit_media_description"
                  name="description"
                  rows="6"
                  cols="40"
                ></textarea>
              </div>
            </div>
          </div>

          <img
            id="edit_media_thumb_tag"
            src="{baseurl}/images/nophoto.gif"
            class="img-thumbnail"
            alt=""
          />
        </div>
        <div class="modal-footer">
          <a id="update_media" href="#" class="btn btn-sm btn-primary"
            >{lang_update}</a
          >
          <a id="delete_media" href="#" class="btn btn-sm btn-danger"
            >{lang_delete}</a
          >
        </div>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
  function inactive_alert_toggle() {
    if ($("#user_active").val() == "no") {
      $("#alert_user_inactive").show();
    } else {
      $("#alert_user_inactive").hide();
    }
  }
  $(document).ready(function () {
    $("#user_active").change(function (e) {
      inactive_alert_toggle();
    });
    inactive_alert_toggle();

    //Load Image Pane for Media Widget
    ShowPleaseWait();
    $("#user_image_pane div.accordion-body").load(
      "ajax.php?action=ajax_display_user_images&user_id={user_id}",
      function () {
        HidePleaseWait();
      }
    );

    $("#user_image_tab").click(function () {
      ShowPleaseWait();
      $("#user_image_pane  div.accordion-body").load(
        "ajax.php?action=ajax_display_user_images&user_id={user_id}",
        function () {
          HidePleaseWait();
        }
      );
    });

    //Load File Pane on click
    $("#user_file_tab").click(function () {
      ShowPleaseWait();
      $("#user_file_pane  div.accordion-body").load(
        "ajax.php?action=ajax_display_user_files&user_id={user_id}",
        function () {
          HidePleaseWait();
        }
      );
    });
    $("#update_media").click(function (e) {
      e.preventDefault();
      var media_id = $("#media_id_holder").val();
      var media_type = $("#media_type_holder").val();
      $.post(
        "ajax.php?action=ajax_update_media",
        {
          media_type: media_type,
          parent_id: "{user_id}",
          media_id: media_id,
          caption: $("#edit_media_caption").val(),
          description: $("#edit_media_description").val(),
          token: $("#media_token").val(),
        },
        function (data) {
          if (data.error == "1") {
            status_error(data.error_msg);
          } else {
            status_msg("Media Updated");
          }
          if (media_type == "userimages") {
            $("#user_image_pane").load(
              "{baseurl}/admin/ajax.php?action=ajax_display_user_images&user_id={user_id}"
            );
          }
        },
        "json"
      );
      $("#edit_user_image_modal").modal("hide");
    });
    //Handle Image Deletion
    $("#delete_media").click(function () {
      if (confirmDelete()) {
        var media_id = $("#media_id_holder").val();
        var media_type = $("#media_type_holder").val();
        $.post(
          "ajax.php?action=ajax_delete_media",
          {
            media_type: media_type,
            parent_id: "{user_id}",
            media_id: media_id,
          },
          function (data) {
            if (data.error == "1") {
              status_error(data.error_msg);
            } else {
              status_msg("{lang_image} {lang_has_been_deleted}");
            }
            if (media_type == "userimages") {
              $("#user_image_pane").load(
                "{baseurl}/admin/ajax.php?action=ajax_display_user_images&user_id={user_id}"
              );
            }
          },
          "json"
        );
        $("#edit_listing_image_modal").modal("hide");
      }
      return false;
    });

    //Submit the form on click of update link
    $("#user_data").on("submit", function (e) {
      e.preventDefault();
      ShowPleaseWait();
      $.post(
        "ajax.php?action=ajax_update_user_data",
        $("#user_data").serialize(),
        function (data) {
          if (data.error == "1") {
            status_error(data.error_msg);
          } else {
            status_msg(
              "{lang_user_editor_user_number}" +
                data.user_id +
                " {lang_has_been_updated}"
            );
          }
          HidePleaseWait();
        },
        "json"
      );
    });
    $("#delete_user").click(function (e) {
      e.preventDefault();

      //Delete Listings
      if (confirmDelete()) {
        ShowPleaseWait();
        $.getJSON(
          "ajax.php?action=ajax_delete_user",
          { user_id: "{user_id}" },
          function (json) {
            if (json.error == 0) {
              window.location =
                "' . $config['baseurl'] . '/admin/index.php?action=user_manager";
              status_msg("{lang_log_deleted_user} " + json.user_id);
            } else {
              status_error(json.error_msg);
            }
          }
        );
        HidePleaseWait();
      }
    });
  });
</script>
