<form
  action="{baseurl}/admin/index.php?action=edit_listing_template"
  method="post"
  id="update_existing_field"
>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-link mb-0 px-0 py-1 active"
        id="gen_opt-tab"
        data-bs-toggle="tab"
        data-bs-target="#gen_opt"
        role="tab"
        aria-controls="gen_opt"
        aria-selected="true"
        >{lang_general_options}</a
      >
      <a
        class="nav-link mb-0 px-0 py-1"
        id="lp_opt-tab"
        data-bs-toggle="tab"
        data-bs-target="#lp_opt"
        role="tab"
        aria-controls="lp_opt"
        aria-selected="false"
        >{lang_listing_page_options}</a
      ><a
        class="nav-link mb-0 px-0 py-1"
        id="sp_opt-tab"
        data-bs-toggle="tab"
        data-bs-target="#sp_opt"
        role="tab"
        aria-controls="sp_opt"
        aria-selected="false"
        >{lang_search_options}</a
      ><a
        class="nav-link mb-0 px-0 py-1"
        id="sr_opt-tab"
        data-bs-toggle="tab"
        data-bs-target="#sr_opt"
        role="tab"
        aria-controls="sr_opt"
        aria-selected="false"
        >{lang_search_result_options}</a
      >
    </div>
  </nav>
  <div class="tab-content mt-4" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="gen_opt"
      role="tabpanel"
      aria-labelledby="gen_opt-tab"
    >
      <input type="hidden" name="update_id" value="{field_id}" />
      <input type="hidden" name="old_field_name" value="{field_name}" />
      <div class="input-group input-group-static mb-2">
        <label for="field_name">{lang_admin_template_editor_field_name}</label>
        <input
          type="text"
          name="edit_field"
          id="edit_field"
          value="{field_name}"
          class="form-control"
          required
          pattern="[A-Za-z0-9_]+"
        />
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="field_name"
          >{lang_admin_template_editor_field_caption}</label
        >
        <input
          type="text"
          name="field_caption"
          id="field_caption"
          value="{field_caption}"
          class="form-control"
          required
        />
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="required" class="ms-0"
          >{lang_admin_template_editor_field_required}</label
        >
        <select name="required" class="form-control" id="required">
          {required_block}
          <option value="{value}" {selected}>{text}</option>
          {/required_block}
        </select>
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="field_type" class="ms-0"
          >{lang_admin_template_editor_field_type}</label
        >
        <select name="field_type" class="form-control" id="field_type">
          {field_type_block}
          <option value="{value}" {selected}>{text}</option>
          {/field_type_block}
        </select>
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="field_elements" class="ms-0"
          >{lang_admin_template_editor_field_elements}</label
        >

        <textarea
          name="field_elements"
          class="form-control"
          rows="5"
          id="field_elements"
        >
                  {field_elements}
                </textarea
        >
        <span class="text-sm">
          ({lang_admin_template_editor_choices_separated})</span
        >
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="default_text"
          >{lang_admin_template_editor_field_default_text}</label
        >
        <input
          type="text"
          name="default_text"
          id="default_text"
          value="{default_text}"
          class="form-control"
        />
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="tool_tip">{lang_admin_template_editor_tool_tip}</label>
        <input
          type="text"
          name="tool_tip"
          id="tool_tip"
          value="{tool_tip}"
          class="form-control"
        />
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="field_length"
          >{lang_admin_template_editor_field_length}</label
        >
        <input
          type="number"
          name="field_length"
          id="field_length"
          value="{field_length}"
          class="form-control"
        />
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="display_priv" class="ms-0"
          >{lang_admin_template_editor_field_display_priv}</label
        >
        <select name="display_priv" class="form-control" id="display_priv">
          {display_priv_block}
          <option value="{value}" {selected}>{text}</option>
          {/display_priv_block}
        </select>
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="property_class" class="ms-0"
          >{lang_admin_template_editor_field_property_class}</label
        >
        <select
          name="property_class[]"
          class="form-control"
          multiple
          size="5"
          required
          id="property_class"
        >
          {pclass_select_block}
          <option value="{value}" {selected}>{text}</option>
          {/pclass_select_block}
        </select>
      </div>
    </div>
    <div
      class="tab-pane"
      id="lp_opt"
      role="tabpanel"
      aria-labelledby="lp_opt-tab"
    >
      <div class="input-group input-group-static mb-2">
        <label for="location" class="ms-0"
          >{lang_admin_template_editor_field_display_location}</label
        >
        <select
          name="location"
          class="form-control"
          multiple
          size="5"
          id="location"
        >
          {location_block}
          <option value="{value}" {selected}>{text}</option>
          {/location_block}
        </select>
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="rank">{lang_admin_template_editor_field_rank}</label>
        <input
          type="number"
          name="rank"
          id="rank"
          value="{rank}"
          class="form-control"
        />
      </div>
    </div>
    <div
      class="tab-pane"
      id="sp_opt"
      role="tabpanel"
      aria-labelledby="sp_opt-tab"
    >
      <div class="form-check mb-2 ml-0">
        <input class="form-check-input" type="checkbox" value=""
        name="searchable" id="searchable"
        {searchable_block}checked{/searchable_block}>
        <label class="custom-control-label" for="customCheck1"
          >{lang_allow_searching}</label
        >
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="search_rank"
          >{lang_admin_template_editor_field_rank_search}</label
        >
        <input
          type="number"
          name="search_rank"
          id="search_rank"
          value="{search_rank}"
          class="form-control"
        />
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="search_label">{lang_search_label}</label>
        <input
          type="text"
          name="search_label"
          id="search_label"
          value="{search_label}"
          class="form-control"
        />
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="search_type" class="ms-0">{lang_search_type}</label>
        <select name="search_type" class="form-control" id="search_type">
          {search_type_block}
          <option value="{value}" {selected}>{text}</option>
          {/search_type_block}
        </select>
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="search_step">{lang_step_by}</label>
        <input
          type="number"
          name="search_step"
          id="search_step"
          value="{search_step}"
          class="form-control"
        /><br /><span class="small">{lang_used_for_range_selections_only}</span>
      </div>
    </div>
    <div
      class="tab-pane"
      id="sr_opt"
      role="tabpanel"
      aria-labelledby="sr_opt-tab"
    >
      <div class="input-group input-group-static mb-2">
        <label for="display_on_browse" class="ms-0"
          >{lang_admin_template_editor_field_display_browse}</label
        >
        <select
          name="display_on_browse"
          class="form-control"
          size="1"
          id="display_on_browse"
        >
          {display_on_browse_block}
          <option value="{value}" {selected}>{text}</option>
          {/display_on_browse_block}
        </select>
      </div>

      <div class="input-group input-group-static mb-2">
        <label for="search_result_rank"
          >{lang_admin_template_editor_field_rank_search_result}</label
        >
        <input
          type="number"
          name="search_result_rank"
          id="search_result_rank"
          value="{search_result_rank}"
          class="form-control"
        />
      </div>
    </div>
    <br class="clear" />
  </div>
  <div class="form_div">
    <div style="text-align: center">
      <button type="submit" class="btn btn-primary" id="update_button">
        {lang_update_button}</button
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
      <a
        href="{baseurl}/admin/index.php?action=edit_listing_template&amp;delete_field={field_name}"
        class="btn btn-danger"
        onclick="return confirmDelete()"
        >{lang_delete}</a
      >
    </div>
  </div>
</form>

<script type="text/javascript">
  $(document).ready(function () {
    //Submit the form on click of update link
    $("#update_existing_field").on("submit", function (e) {
      e.preventDefault();
      ShowPleaseWait();
      $.post(
        "ajax.php?action=ajax_update_listing_field",
        $("#update_existing_field").serialize(),
        function (data) {
          if (data.error == "1") {
            status_error(data.error_msg);
          } else {
            status_msg("{lang_field_has_been_updated}");
            document.location = "index.php?action=edit_listing_template";
          }
          HidePleaseWait();
        },
        "json"
      );
    });
  });
</script>
